@model Accela.GIS.Map.Admin.Models.LocalPasswordModel
@{
    ViewBag.Title = "Manage Account";
}

<p class="message-success">@ViewBag.StatusMessage</p>

@if (ViewBag.HasLocalPassword)
{
    @Html.Partial("_ChangePasswordPartial")
}
else
{ 
    @Html.Partial("_SetPasswordPartial")
}

@section Scripts {
    @Scripts.Render("~/admin/bundles/jqueryval")
}
